@import "colors.scss";

* {
    all: unset;
    font-family: feather;
    font-family: Hack Nerd Font;
    font-size: 16px;
}

.pill {
    margin: 3px;
    margin-bottom: 0px;
    padding: 1 8 1 8;
    background: rgba($color: #222, $alpha: 0.7);
    border-radius: 25px;
}

.system > * {
    padding: 1 4 1 4;
}

.membar {
    color: $green;
    background-color: #111;
}

.cpubar {
    color: $yellow;
    background-color: #111;
}

.batbar {
    color: $lightblue;
    background-color: #111;
}

.batbar.Charging {
    color: $lightgreen;
}

.batbar.battery-low {
    background-color: $red;
}

.memicon, .cpuicon {
    margin: 1px 10px 1px 10px;
    font-size: 8px;
}

.network > * {
    padding: 1 10 1 4;
}

.network-interface {
    color: $lightmagenta;
    padding-right: 6px;
}

.workspace {
    padding: 0 15 0 13;
    color: rgb(119, 119, 119);
    padding-top: 2px;
    padding-bottom: 2px;
    // background: rgb(64, 64, 64);
}

.workspace.open {
    color: #d7d7d7;
}

.workspace:hover {
    background-color: $background;
}

.workspace.focused {
    font-weight: bolder;
    color: white;
    background-color: $background-solid;
}

.workspace.visible {
    color: white;
}

.i3state {
    background: rgba($color: $red, $alpha: 0.7);
}

.player-bar {
    background-color: rgba(#555, 0.7);
    // margin: 1 -1 1 -1;
    // this margin doesn't make sense
    // but it works
}

.player-icon {
    padding-left: 5px;
}

.player.spotify {
    background-color: rgba(#1db954, 0.6);
}

.player.spotify .player-bar {
    background-color: #1f6e3b;
}

.player.vlc {
    background-color: rgba(192, 65, 18, 0.6);
}

.player.vlc .player-bar {
    background-color: rgb(104, 39, 15);
}


.volume-bar trough highlight {
    all: unset;
    background-color: $cyan;
    color: #000000;
    border-radius: 10px;
}

.volume-bar trough {
    all: unset;
    background-color: #111;
    border-radius: 50px;
    min-height: 6px;
    min-width: 50px;
    margin-left: 10px;
}

.control-center {
    background-color: $background;
}
